<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/auth_styles.css">
    <title>Document</title>
</head>
<body>
    <div class="outer_region">
        <div class="inner_header">
            <h1 class="main_heading_header">Simple Project</h1>
            <h1 class="main_heading_header" style="padding-right: 5rem;">Forgot Password</h1>
        </div>
    </div>

    <div class="outer_region">
        <form action="/forgot_password" method="post">
            <div class="inner_login">
                <div>
                    <h1>Please enter Email, that you want to forgot password</h1>
                    <input name="email" type="email" class="login_input_boxes">
                </div>
                <div style="height: 2rem;"></div>
                <div>
                    <button class="login_button" type="submit">Save me</button>
                </div>
            </div>
        </form>
    </div>

    {% if errors: %}
    {% for error in errors %}
    <p class="for_errors">{{ error }}</p>
    {% endfor %}
    {% endif %}
</body>
</html>